.h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: clamp(3rem, 7vw + 1rem, 6rem);
    font-weight: bold;
    color: white;
    order: 1;
}

.topicTextSub {
    color: white;
    font-family: "Futura ", Trebuchet MS, Arial, sans-serif;
    font-size: clamp(1rem, 2.2vw, 2rem);
    margin-bottom: 3rem;
    padding-top: 0.3rem;
    padding-left: 0.2rem;
}

.topic {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 7rem);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imageDiv {
    order: 2;
    position: relative;
    height: clamp(15rem, 40vw + 10rem, 40rem);
    width: clamp(15rem, 40vw + 10rem, 40rem);
}

.phone {
    position: absolute;
    height: clamp(15rem, 40vw + 10rem, 40rem);
    width: clamp(15rem, 40vw + 10rem, 40rem);
}