.topic {
    color: hsl(212, 52%, 82%);
    font-family: "Futura ", Trebuchet MS, Arial, sans-serif;
    font-size: clamp(2.6rem, 5vw, 3.4rem);
    margin-bottom: 1rem;
    font-weight: bold;
}

.intro {
    font-family: "Futura ", Trebuchet MS, Arial, sans-serif;
    max-width: 60ch;
    font-size: clamp(1rem, 2vw, 1.8rem);
    line-height: 150%;
    color: white;
}